@(courses: Array[models.Course])


<head>
  <title>All Student</title>
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
  <div class="panel panel-primary">
    <div class="panel panel-heading">Student List</div>

    <div class="panel panel-body">
      List of all students
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Student List</th>
        </tr>
      </thead>

      <tbody>
      @for(course <- courses) {
        <tr>
          <td>@course.getId</td>
          <td>@course.getName.toString()</td>
          <td><a href="http://localhost:9000/course/students?id=@course.getId">Student list</a></td>
        </tr>
      }
      </tbody>
    </table>
  </div>


</body>
